<main class="gridothers">
<article>
    <a href="/commonnumber">
  <img src="/images/commonnumber.jpg" alt="Sample photo" >
</a>
</article>
<article>
    <a href="/teerchampion/analytics">
  <img src="/images/analytics.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="/predicttarget">
  <img src="/images/predictedcounter.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="/previousresultpage=1&limit=20">
  <img src="/images/previousresults.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="/teercalender">
  <img src="/images/teercalendar.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="/reputedcounter">
  <img src="/images/reputedcounter.jpg" alt="Sample photo">
</a>
</article>

</main>