<main class="gridothers">
<article>
    <a href="commonnumber.html">
  <img src="/images/commonnumber.jpg" alt="Sample photo" >
</a>
</article>
<article>
    <a href="analytics.html">
  <img src="/images/analytics.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="predicttarget.html">
  <img src="/images/predictedcounter.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="previousresult.html">
  <img src="/images/previousresults.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="teercalendar.html">
  <img src="/images/teercalendar.jpg" alt="Sample photo">
</a>
</article>
<article>
    <a href="reputedcounters.html">
  <img src="/images/reputedcounter.jpg" alt="Sample photo">
</a>
</article>

</main>